<a href="https://colab.research.google.com/github/nnknishant/PythonProject2/blob/master/Pyspark_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Create Spark Session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Example').getOrCreate()

In [2]:
# Create a spark session with spark connect

spark =(
SparkSession.builder \
    .master("local") \
    .appName("Spark Connect Example") \
    .config("spark.some.config.option", "some_values") \
    .getOrCreate()
)

In [3]:
spark

In [4]:
# pyspark.sql.GroupedData.avg

df = spark.createDataFrame([
    (2, "Alice", 80), (3, "Alice", 100),
    (5, "Bob", 120), (10, "Bob", 140)], ["age", "name", "height"])

df.show()

+---+-----+------+
|age| name|height|
+---+-----+------+
|  2|Alice|    80|
|  3|Alice|   100|
|  5|  Bob|   120|
| 10|  Bob|   140|
+---+-----+------+

In [5]:
# Group by name and calculate the meanof the age in each group

df_groupby  = df.groupBy("name").avg("age").sort("name").show()

+-----+--------+
| name|avg(age)|
+-----+--------+
|Alice|     2.5|
|  Bob|     7.5|
+-----+--------+

In [8]:
df_mean = df.groupBy().avg("age", "height").show()

+--------+-----------+
|avg(age)|avg(height)|
+--------+-----------+
|     5.0|      110.0|
+--------+-----------+

In [9]:
df_count = df.groupBy("name").count().show()

+-----+-----+
| name|count|
+-----+-----+
|Alice|    2|
|  Bob|    2|
+-----+-----+

In [12]:
df_max = df.groupBy("name").max("age").show()

+-----+--------+
| name|max(age)|
+-----+--------+
|Alice|       3|
|  Bob|      10|
+-----+--------+

In [13]:
df_max = df.groupBy("name").max("age", "height").show()

+-----+--------+-----------+
| name|max(age)|max(height)|
+-----+--------+-----------+
|Alice|       3|        100|
|  Bob|      10|        140|
+-----+--------+-----------+

In [14]:
df_min = df.groupBy("name").min("age", "height").sort("name").show()

+-----+--------+-----------+
| name|min(age)|min(height)|
+-----+--------+-----------+
|Alice|       2|         80|
|  Bob|       5|        120|
+-----+--------+-----------+

In [18]:
df_sum = df.groupBy("name").sum("height").sort("name").show()

+-----+-----------+
| name|sum(height)|
+-----+-----------+
|Alice|        180|
|  Bob|        260|
+-----+-----------+

In [23]:
df_sum = df.groupBy("name").sum("age").sort("name").show()

+-----+--------+
| name|sum(age)|
+-----+--------+
|Alice|       5|
|  Bob|      15|
+-----+--------+