<a href="https://colab.research.google.com/github/nnknishant/PythonProject2/blob/master/Python_Codes_for_Interview_Cheatsheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Converting an integer into  decimals

import decimal
integer = 20
print(decimal.Decimal(integer))
print(type(decimal.Decimal(integer)))

20
<class 'decimal.Decimal'>

In [4]:
number = 40
print(decimal.Decimal(number))

40

In [6]:
type(decimal.Decimal(number))

decimal.Decimal

In [7]:
# Converting string of an integer into decimals

import decimal
string = '123456'
print(decimal.Decimal(string))

123456

In [8]:
type(decimal.Decimal(string))

decimal.Decimal

In [9]:
# Reverse string using an Extended slicing Technique

string = "python programming"

print(string[::-1])

gnimmargorp nohtyp

In [10]:
print(string[::2])

pto rgamn

In [11]:
# Count Vowels into given words

vowel = ['a','e', 'i', 'o', 'u']
word = "programming"

for character in word:
  print(character)

p
r
o
g
r
a
m
m
i
n
g

In [13]:
vowel = ['a','e', 'i', 'o', 'u']
word = "programming"

for character in vowel:
  print(character)

a
e
i
o
u

In [40]:
vowel = ['a','e', 'i', 'o', 'u']
word = "programming"

count = 0

for character in word:
  if character in vowel:
    count += 1
print(count)

3

In [41]:
vowel = ['a','e', 'i', 'o', 'u']
word = "programming"

count = 0

for character in word:
  if character in vowel:
    count += 1
print(count)

3

In [43]:
# counting the numbe of occurances of a character in string

word = "programming"
character = "g"
count =0

for char in word:
  if char == character:
    count += 1
print(count)

2

In [44]:

word = "programming"
character = "m"
count =0

for char in word:
  if char == character:
    count += 1
print(count)

2

In [48]:
# writing FIBONACCI in series

fib = [0,1]
# range start from 0  by default
n = 5
for i in range(n):
  fib.append(fib[-1] + fib[-2])
print(i)

4

In [55]:
# Find max number in list

numberlist = [12,5,45,16,25,60]
max = numberlist[1]
for num in numberlist:
  if max < num:
    max == num
print(max)

5

In [66]:
# Find min number in a list

numberlist2 = [10,20,15,102,45]
min  = numberlist2[0]
for num in numberlist2:
  if min > num:
    min = num
print(min)

10

In [70]:
# Find middle element in the list

numlist = [12,3,55,23,6,78,33,5]
midelement = int((len(numlist)/2))
print(numlist[midelement])

6

In [71]:
# Converting a list into string
list = ["P", "Y", "T","H", "O", "N"]

string = "".join(list)

print(string)
print(type(string))

PYTHON
<class 'str'>

In [72]:
type(list)

list

In [74]:
list2 = ["N", "I", "S", "H", "A", "N", "T"]

string = "".join(list2)

print(string)

NISHANT

In [75]:
type(string)

str

In [76]:
list1 = [1,2,3]
list2 = [3,4,5]

list = list1+list2
print(list)

[1, 2, 3, 3, 4, 5]

In [79]:
list1 = [1,2,3]
list2 = [3,4,5]

res_1st = []

for i in range(0, len(list1)):
  res_1st.append(list1[i]+ list2[i])
print(res_1st)

[4, 6, 8]

In [81]:
list1 = [1,2,3]
list2 = [3,4,5]

res_1st = []

for i in range(0, len(list2)):
  res_1st.append(list1[i]+ list2[i])
print(res_1st)

[4, 6, 8]

In [84]:
# Counting white space in string

string = "p  r  ogr  amm i  ng"
print(string.count(" "))

9

In [86]:
string = "p  y th     on"
print(string.count(" "))

8

In [88]:
# Removing all white space in string
import re
string = "c o d e"
space = re.compile(r'\S+')
result = re.sub(space, "", string)
print(result)

In [92]:
from random import shuffle

lst = ["Python is easy language"]
shuffle(lst)
print(lst)

['Python is easy language']

In [93]:
type(lst)

list